@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Happy Monkey', cursive;
  }
  

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #F5F2EB;
}

::-webkit-scrollbar-thumb {
  background: #D0BCD5;
  border: 4px solid #F5F2EB;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FB6B90;
}
